.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.header-bar {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  background-color: #8F5E7D;
  color: white;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
}

.header-logo {
  width: 350px;
  margin-right: 30px;
}

.content-container {
  display: flex;
  flex: 1;
}

.login-section {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form {
  background-color: #E8E8E8;
  padding: 30px;
  border-radius: 8px;
  border: 0.5px solid #0a0a0a;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 100px;
}

.login-form label {
  text-align: center;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.login-button {
  background-color: #E00AB2;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #b1058c;
}

.divider-with-or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.divider-with-or .line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.divider-with-or .or-text {
  margin: 0 10px;
  color: #636363;
  font-size: 12px;
  white-space: nowrap;
}

.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8E8E8E;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

.google-login-btn img {
  width: 20px;
  margin-right: 10px;
}

.google-login-btn:hover {
  background-color: #706f6f;
}

.signup-text {
  font-size: 12px;
  color: #333;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 1px;
}

.signup-link {
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.signup-link:hover {
  color: darkblue; 

}

.forgot-password {
  font-size: 12px;
  color: #0066cc;
  text-align: center;
  margin-top: 1px;
  font-weight: bold;
}

.info-section {
  flex: 1.4;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.illustration {
  margin-top: auto;
  width: 100%;
}

.illustration img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
